@model BookDetailsViewModel;
@{
    ViewData["Title"] = "Detail";
}
<form method="get" >
    <input type="hidden" asp-for="CartItemDTO.BookId" />
    <input type="hidden" asp-for="CartItemDTO.CartItemID" />
<div class="row ">
    <div class="col-2">
    </div>
    <div class="col-8">
        <div class="card shadow border-0 mt-4">
            <div class="card-header bg-dark bg-gradient text-light py-4">
                <div class="row">
                    <div class="col-12 text-center">
                        <h3 class="text-white text-uppercase">@Model.Book.Title</h3>
                        <p class="text-white-50 fw-semibold mb-0 ">
                            By
                            <a asp-area="" asp-controller="Book" asp-action="GetBookByAuthor"
                               asp-route-id="@Model.Book.authorId">
                                 @Model.Book.Author.FullName
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="py-3">
                    <div class="row">
                        <div class="col-6 col-md-3 offset-lg-1 pb-1">
                            <a asp-controller="Home" asp-action="Index" class="btn btn-outline-info bg-gradient mb-3 fw-semibold btn-sm text-uppercase">
                                <small>Back to home</small>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-5 offset-lg-1 text-center mb-3">
                            <img src="/Images/Book/@Model.Book.ImageURL" width="100%" class="rounded" />
                        </div>
                        <div class="col-12 col-lg-5 offset-lg-1">
                            <div class="col-12 col-md-6 pb-4">
                                @foreach (Category category in Model.Book.Categories)
                                {
                                        <a asp-area="" asp-controller="Book" asp-action="GetBookByCategory"
                                           asp-route-id="@category.CategoryId">
                                            <span class="badge rounded-pill bg-warning">@category.Name</span>
                                        </a>
                                }
                                
                            </div>
                            <div class="row ps-2">
                                <h6 class="text-dark text-opacity-50 ">ISBN : @Model.Book.Isbn13</h6>
                            </div>
                            <div class="row ps-2">
                                <h6 class="text-dark text-opacity-50 ">Số trang : @Model.Book.NumberOfPage</h6>
                            </div>
                            <div class="row ps-2">
                                <h6 class="text-dark text-opacity-50 ">Nhà xuất bản : @Model.Book.Publisher.Name</h6>
                            </div>
                            <div class="row ps-2">
                            @if (Model.Book.DiscountPercent > 0)
                                    {
                                        <h6 class="text-dark text-opacity-50  pb-2">
                                            Giá Gốc:
                                            <span class="text-decoration-line-through">
                                                @Model.Book.Price.ToString("#,## đ")
                                            </span>
                                        </h6>
                                        <div class="row text-center ps-2">
                                            <div class="p-1 col-3 col-lg-6 bg-white border-bottom">
                                                <div class="text-dark text-opacity-50 fw-semibold">Giảm @((Model.Book.DiscountPercent * 100).ToString("##,##"))% còn</div>
                                            </div>
                                        </div>
                                        <div class="row text-center ps-2">
                                            <div class="p-1 col-3 col-lg-6 mb-3 bg-white text-danger fw-bold " asp-for="CartItemDTO.Price">
                                                <div >
                                                    @((Model.Book.Price - Model.Book.Price * Model.Book.DiscountPercent).ToString("#,## đ"))
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="row text-center ps-2">
                                            <div class="p-1 col-3 col-lg-6 bg-white border-bottom">
                                                <div class="text-dark text-opacity-50 fw-semibold">Giá</div>
                                            </div>
                                        </div>
                                        <div class="row text-center ps-2">
                                            <div class="p-1 col-3 col-lg-6 mb-3 bg-white text-danger fw-bold " asp-for="CartItemDTO.Price">
                                                <div>
                                                    @((Model.Book.Price - Model.Book.Price * Model.Book.DiscountPercent).ToString("#,## đ"))
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    <div class="row pl-2 my-3">
                                    <p class="text-secondary text-break fst-italic">@Model.Book.Description</p>
                                </div>
                                
                                    <div class="row pl-2 mb-3">
                                        <div class="col-md-8">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text bg-secondary text-white border-0 fw-semibold"
                                                      id="inputGroup-sizing-default">
                                                    Số lượng
                                                </span>
                                                    <input value="1" class="form-control" asp-for="CartItemDTO.Quantity" />
                                                    <span class="text-danger" asp-validation-for="CartItemDTO.Quantity"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-10 pb-1"> 
                                            @if (Model.Book.Inventory > 0)
                                            {
                                                <button type="submit"
                                                class="btn btn-primary bg-gradient  w-120 py-2 text-uppercase fw-semibold" asp-area="User" asp-controller="Cart"
                                                asp-action="AddCartItemForBookDetails">
                                                    Thêm vào giỏ hàng
                                                </button>
                                            }
                                            else
                                            {
                                                <button class="btn btn-dark bg-gradient  w-100 py-2 text-uppercase fw-semibold disabled">
                                                    Hết hàng
                                                </button>
                                            }
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}