@using Entity.DTOs;
@model BookDisplayModel;
@{
    ViewData["Title"] = "Home Page";
}
@{
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}
<h1>Tất cả sách</h1>
<hr />
<div class="my-2">
    <form asp-controller="Home" asp-action="Index" method="get" class="row row-cols-lg-auto g-3 align-items-center">
        <div class="col-12">
            <label class="visually-hidden" for="CategoryId">Thể loại</label>
            <select class="form-select" id="CategoryId" name="CategoryId">
                <option selected>Thể loại...</option>
                @foreach (var category in Model.categories)
                {
                    <option selected="@(category.CategoryId==Model.CategoryId)" value="@category.CategoryId">@category.Name</option>
                }
            </select>
        </div>
        <div class="col-12">
            <label class="visually-hidden" for="SearchString">Nhập tên sách</label>
            <div class="input-group">
                <div class="input-group-text"></div>
                <input type="text" class="form-control" value="@Model.SearchString" id="SearchString" name="SearchString" placeholder="Nhập tên sách">
            </div>
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-outline-primary">Tìm kiếm</button>
            <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Xóa</a>
        </div>
    </form>
</div>

<div class="w-100 mt-4 d-flex flex-wrap">
    @foreach (var book in Model.Books)
    {
        <div class="card mx-2 mb-6 mt-4" style="width: 15.20rem; ">
            @if (string.IsNullOrEmpty(book.ImageURL))
            {
                <img style="width:100%;height:300px" src="/Images/Book/No-Image-Placeholder.svg.png" class="card-img-top" alt="...">
            }  
            else
            {
                <img style="width:100%;height:300px" src="/Images/Book/@book.ImageURL" class="card-img-top" alt="...">
            }

            <div class="card-body">
                <h5 class="card-title text-Dark bg-gradient fw-semibold">@book.Title</h5>
                <p class="card-text">
                    <b class="text-primary"> Tác giả :</b> @book.Author.FullName<br>
                    @if (book.DiscountPercent > 0)
                    {
                        <b class ="text-primary"> Giá :</b><span class="text-decoration-line-through text-danger">
                            @book.Price.ToString("#,## đ")
                        </span> @((book.Price - book.Price * book.DiscountPercent).ToString("#,## đ"))<br>
                    }
                    else {
                        <b class="text-primary"> Giá :</b>
                        <span >
                            @book.Price.ToString("#,## đ")
                        </span> 
                        <br>
                    }
                </p>
                <p>
                    <a asp-controller="Book" asp-action="Detail" asp-route-id="@book.BookId"
                       class="btn btn-outline-dark bg-gradient fw-semibold"> Chi tiết</a>
                </p>
            </div>
        </div>
        <br>
    }

    <partial name="_Pagination" model="@pager" />

</div>

